<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rust Online Judge</title>

    <link rel="stylesheet" href="css/style2.css" />
</head>
<body>
<div class="header">Rust Online Judge</div>
<br>
<div class="question">
    [문제1]<br>
    "Hello World!"를 출력하시오.<br>
    <br>
    [입력]<br>
    없음<br>
</div>
<br>
<div class="editor" id="editor"></div>
<br>
<div class="button-container">
    <button class="btn" onclick="executeCode()">제출</button>
</div>

<br>
<div class="output"></div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="js/lib/ace.js"></script>
<script src="js/lib/theme-monokai.js"></script>
<script src="js/ide2.js"></script>
</body>
</html>